body {
  background-image: url("images/pexels-catiamatos-1045534.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 800px;
  height: 600px;
  background-color: #ced4da;
  opacity: 0.9;
  border: none;
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
  padding-top: 60px;
  font-family: cursive;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: black;
}
h2 {
  font-size: 60px;
}
.home {
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 10px;

  margin-top: 20px;
}
.guest {
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 10px;

  margin-top: 20px;
}
button {
  width: 75px;
  height: 55px;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  font-family: cursive;
  cursor: pointer;
  background-color: black;
  color: white;
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 70px;
  border: none;
  margin-top: 34px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  font-family: cursive;
  cursor: pointer;
  background-color: black;
  color: white;
}
button:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
}
.reset:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
}
